example/*.mp3
example/*.ogg
example/*.flac
build/*
*.o
*.lo
*.la
example/kajamtag
*~
config.log
config.status
libtool
src/.deps/
src/.libs/
src/Makefile
stamp-h1
*Makefile
aclocal.m4
autom4te.cache/
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
m4/
missing
src/Makefile.in
config.h
bin/.deps
bin/.libs
bin/Makefile.in
Makefile.in
*.tar.gz
*.bak

